@charset "UTF-8";
/* CSS Document */

body
{
	margin:0;
	padding:0;	
}

img
{
	border:0;	
}

#container
{
	width:300px;
	height:250px;
	border:1px solid #A7A7A2;	
	box-sizing:border-box;
	overflow:hidden;
	position:relative;
	padding:0;
	margin:0;
	opacity:0;
}

#logo
{
	position:absolute;
	top:13px;
	left:228px;
	z-index:11;	
}

/* Start Frame 1 text */

#text1
{
	position:absolute;
	top:16px;
	left:14px;
	z-index:10;	
}

#text1_box
{
	position:absolute;
}


#text2
{
	position:absolute;
	top:46px;
	left:14px;
	z-index:10;	
}

#text2_box
{
	position:absolute;
}


/* End Frame 1 Text
   Start Frame 2 Text */
   
#text3
{
	position:absolute;
	top:15px;
	left:18px;
	z-index:10;	
}

#text3_box
{
	position:absolute;
}
   
#text4
{
	position:absolute;
	top:50px;
	left:18px;
	z-index:10;	
}

#text4_box
{
	position:absolute;
}


/* End Frame 2 Text
   Start Frame 3 Text */
   
#text5
{
	position:absolute;
	top:16px;
	left:18px;
	z-index:10;	
}

#text5_box
{
	position:absolute;
}

#text6
{
	position:absolute;
	top:45px;
	left:18px;
	z-index:10;	
}

#text6_box
{
	position:absolute;
}
   
#text7
{
	position:absolute;
	top:191px;
	left:24px;
	z-index:10;	
}

#text7_box
{
	position:absolute;
}

#text8
{
	position:absolute;
	top:207px;
	left:24px;
	z-index:10;	
}

#text8_box
{
	position:absolute;
}

#text9
{
	position:absolute;
	top:224px;
	left:24px;
	z-index:10;	
}

#text9_box
{
	position:absolute;
}


/* End Frame 3 Text
   Start Frame 1 Image and Gradients */

#image1
{
	position:absolute;
	top:62px;
	left:26px;
	z-index:9;	
}

#image1_box
{
	position:absolute;	
}

#gradient1
{
	position:absolute;
	top:0;
	left:0;
	z-index:3;	
}

#gradient2
{
	position:absolute;
	top:0px;
	left:0;
	z-index:1;	
}

#gradient3
{
	position:absolute;
	top:200px;
	left:0;
	z-index:2;	
}

#topo
{
	position:absolute;
	top:115px;
	left:0;
	z-index:10;	
}

#topo_box
{
	position:absolute;
}

/* End Frame 1 Image and Gradients
   Start Frame 2 Image and Gradients */
   
#image2
{
	position:absolute;
	top:65px;
	left:26px;
	z-index:9;	
}

#image2_box
{
	position:absolute;	
}
   
#gradient4
{
	position:absolute;
	top:250px;
	left:0;
	z-index:3;	
}


/* End Frame 2 Image and Gradients
   Start Frame 3 Image and Gradients */
   
#image3
{
	position:absolute;
	top:62px;
	left:26px;
	z-index:9;	
}

#image3_box
{
	position:absolute;	
}

#gradient5
{
	position:absolute;
	top:250px;
	left:0;
	z-index:5;	
}
   
#gradient6
{
	position:absolute;
	top:250px;
	left:0;
	z-index:6;	
}

#cta
{
	position:absolute;
	top:200px;
	left:152px;
	z-index:10;	
}


.clickster {
	border:0;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index:1234;
	cursor:pointer;
}
