* { box-sizing: border-box;}  

body {
  font-size: 16px;
  font-family: 'Muli', sans-serif;
  background-color: #FBFBFB;
  font-weight: 400;
  color: #26333E;
  }

h3 {
  margin: 0;
  font-size: 1.35rem;
  font-family: Baskerville, Garamond, serif;
}

.forecast {display: none;}

header, nav, main, footer { 
  max-width: 54rem; 
  margin: 0 auto;
}

header {
  background-color: #FBFBFB;
  padding: .75rem;
  display: flex;
  flex-direction: row;
}

.title {
  flex: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header h1 {
  margin: 1rem 0 .5rem 0;
  font-size: 1.75rem;
  color: #26333E;
  text-align: center;
  font-family: Baskerville, Garamond, serif;
}

header img {
  flex: auto;
  width: 82%;
  height: auto;
  padding: 1.5rem 0;
  }

header .subheading {
  font-size: 1rem;
  font-weight: 400;
  padding-bottom: 2rem; 
  text-align: center;
  }

nav {
  background-color: #26333E;
  text-align: right;
}

nav button {
  margin: 1.5% .75rem 1.5% .75rem;
  color: #FBFBFB;
  font-size: 1.75rem; 
  border: none;
  background-color: #D56B35;
  }

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hide {display: none;}

nav ul li {text-align: right;}

nav ul li a {
  display: block;
  font-size: 1rem;
  color: #FBFBFB;
  padding: .8rem 1rem;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #D56B35;
  font-weight: 500;
}

main {padding: .75rem;}

h2 {
  font-family: Baskerville, Garamond, serif;
  margin: 1.75rem 0 .5rem 0;
  font-size: 1.5rem;
  text-align: center;
  color: #D56B35;
}

main picture img {
  max-width: 100%;
  height: auto;
}

.weather-report {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}

main figure { 
  flex: .95;
  margin: 0 0 .3rem 2%; 
  width: 96%; 
}

main figure img { 
  width: 75%;
  padding: 1rem 0 1rem 1rem;
}

.weather-summary {
  flex: 1.05;
  padding: 5% 0 5% 0;
  margin-left: 10%;
}

 .weather-summary h3 {
  text-align: left;
  color: #26333E;
  margin-bottom: 1.25rem;
}

.highlow {
  display: flex;
  width: 100%;
  font-weight: 600;
}

.highlow p {margin: .5rem 0 1.25rem 0;}

.conditions p {margin-bottom: 1.25rem;}

article h3 {
  text-align: center;
  padding: .5rem .5rem 0 .5rem;
  margin-bottom: 1rem;
}

article p {line-height: 21px;}

article {
  border: 2px solid #26333E;
  padding: 1rem;
}

article img {
  max-width: 100%;
  height: auto;
  box-shadow: 6px 6px 16px #909199;
}

.town-article {
  margin-top: 10px;
  text-align: left;
} 

.article-link {font-style: normal;}

article p a {
  text-decoration: none;
  color: #D56B35;
}

article p a:hover {
  color: #D56B35;
  font-weight: 700; 
}

footer h3 {
  text-align: center;
  color: #D56B35;
}

footer {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  text-align: center;
  color: #FBFBFB;
}
 
footer .contact {
  background-color: #26333E;
  padding: 2rem 0 1rem 0;
  line-height: 24px;
}

footer .footer-bar {
  font-size: 12px;
  background-color: #6B6E7A;
  padding: 1rem;
}

/* Grid CSS */

.gallery {
  display: grid;
  text-align: center;
}

.gallery figure img {
  padding: 2rem 0 .75rem 0;
  text-align: center;
}

figcaption {
  font-size: 12px;
  padding-bottom: .75rem;
}

/*Thank you and Form*/

h2.storm {
  margin: 2rem 0 1.25rem 0;
}

p.center {
  font-size: 1rem;
  text-align: center;
  margin: 0 0 2.75rem 0;
}

form label.above input, form label.above select, form label.above textarea, form label.radio {
  display: block;
  padding: .75rem .2rem;
  width: 100%;
  max-width: 20rem;
  margin-bottom: 1rem;
  border: 2px solid #6B6E7A;
}

form fieldset {
  background-color: #C0C0C6;
  border: 2px solid #26333E;
  margin-bottom: 2rem;
}

form legend {
  background-color: #FBFBFB;
  font-size: 1.25rem;
  padding: .5rem;
  margin-bottom: .75rem;
  border: 2px solid #26333E;
  font-family:  Baskerville, Garamond, serif;
  font-weight: 700;
}

form label.above textarea {
  height: 10rem;
}

form input#rating {
  -webkit-appearance: none;
  height: 10px;
  background: #26333E;
  outline: none;
  width: 100%;
  max-width: 17.6rem;
  margin-bottom: .25rem;
}

form input#rating::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #D56B35;
    cursor: pointer;
}

form input#rating::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #D56B35;
    cursor: pointer;
}

form input.button {
  background-color: #D56B35;
  color: #FBFBFB;
  padding: .75rem;
  margin: 0 0 1rem 1rem;
  border-radius: 5px;
}

form label.above input, form label.above select {
  height: 3rem;
}

form label.radio {
  border: none;
}

.radioBtn {
  margin-right: .25rem;
  
}

form label.above input:required {
  border-left: 5px solid #D56B35;
}

.orange {
  color: #D56B35;
}

.radiobutton {
  margin-bottom: 1rem;
}

div.severity {
  margin-bottom: 1rem;
}

span.rate {
  display: flex;
  margin: 1rem 0;
  align-items: center; 
}

#ratingvalue {
  margin: 0 0 .25rem .5rem;
  padding: .25rem .5rem;
  border: 2px solid #6B6E7A;
  background-color: #FBFBFB;
}





 


