@media only screen and (min-width: 64em) {
    
  header h1 {
    font-size: 3rem;
    text-align: center;
  }
  
  header .subheading {
    font-size: 1.75rem;
    text-align: center;
  }
  
  h2 {
    font-size: 2.5rem;
  }
  
  h3 {
    font-size: 1.85rem;
  }
  
  .weather-summary div {
    font-size: 21px; 
  }
  
  article img {
    margin-bottom: .5rem;
  }
  
  /*----Home_---*/
  
   #weather-story {
    display: flex;
    justify-content: center;
    align-content: center; 
    border: 2px solid #26333E;
  }
  
  .townsections div.town {
    display: flex;
    flex-flow: column;
    padding: .75rem;
  }
  
  
  div.townsections {
    flex-flow: row nowrap;
    justify-content: space-between;
    border: 2px solid #26333E;
    background-color: #DCDCDE;
  }
  
  #weather-story article {
    padding-left: 1.75rem;
    margin: 0 .5rem;
  }
  
  .townsections p {
    text-align: left;
  }
  
  .townsections h2 {
    text-align: left;
    font-size: 1.45rem;
  }
  
  .townsections p {
    font-size: 1rem;
  }
  
  div.town {
    border: none;
  }
  
  .tilde {
  display: none;
}
  
  /* Grid CSS */
  
  .gallery {
    margin-bottom: 1.5rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  
  .gallery figure:hover {
     box-shadow: 6px 6px 16px #909199;
  }
  
  p.center {
    margin-bottom: 3.5rem;
    font-size: 1.5rem;
  }
  
  form label.radio {
    padding: .35rem;
  }
  
}