@media only screen and (min-width: 64em) {
  
header h1 { font-size: 2.25rem; }
  
header .subhead { font-size: 1.45rem; }
  
h2 {
  font-size: 2.25rem;
  margin: 2.5rem 0 2.5rem 0;
}
  
h3 {
  font-size: 1.75rem;
  margin-top: 3.5rem;
}
  
section.info p {
  font-size: 1.75rem;
  margin: 1rem;
  padding: 0;
}
  
p.info {
  padding: 1.5rem;
  }
  
section.info { margin-bottom: 4rem; }
  
.gallery {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 0;
}  
  
  
/*-----Events and Contact-----*/
  
  
.details-events { font-size: 1.35rem; }
  
div.event-logo { 
  flex: 1 1 auto;
  margin: 0 10rem; 
  }
  
div.event-logo p { font-size: 1.2rem; }

div.event-logo h1 { font-size: 1.45rem; }
  
section.bikes { margin: 0 12%; }
  
section div.dk-blue p { font-size: 1.5rem; }
  
  
/*-----Bicycle-----*/
  
  
.accordion dt { 
  font-size: 1.5rem;
  padding: 1.25rem;
}
  
.accordion:first-of-type { margin-top: 0; }
  
.accordion:last-of-type { margin-bottom: 3rem; }
  

/*----Repairs----*/

.price {
  font-size: 1.75rem;
  margin: 3rem 0 0 0;
  padding: 0;
}
  
table { font-size: 1.35rem; }
 
div.repair-table { margin-bottom: 3rem; }
  
thead td {
  font-size: 1.75rem;
  padding: 1.25rem 5rem;
  }
  
thead th { font-size: 1.5rem; }
  
tbody td, thead th { padding: 1rem 1.75rem; }
  
.repair-images {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 0;
}
  
#none { display: block; }
  
tfoot td { font-size: 1.1rem; }
  
.s-green { font-size: 1.5rem; }

.dark-blue { font-size: 1.65rem; } 
  
  
/*-----video-----*/
  
  
video { width: 896px; }
   
}


