@media only screen and (min-width: 64em) {
    
  header h1 {
    font-size: 3em;
    text-align: right;
  }
  
  header .subheading {
    font-size: 1.75rem;
    text-align: right;
  }
  
  header img {
    width: 7rem;
  }
  
  main h2 {
    font-size: 2.5em;
  }
  
  h3 {
    font-size: 1.75rem;
  }
  
  .weather-summary {
    margin-left: 20%;
  }
  
  .weather-summary div {
    font-size: 21px; 
  }
  
  }