/* FONT FAMILIES IMPORT */

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&family=League+Spartan:wght@200;300;400;600&display=swap");

// RGB CODE FOR COLOR REFERENCE
// Cream: rgb(245, 241,226)
// Deep Blue: rgb(5, 5, 31)
// Orange: rgb(217,106,22)
// Light Teal: rgb(123, 158, 163)
// Dark Teal: rgb(90, 134, 140)

//SCSS VARIABLES
$heading-font: "Comfortaa", cursive;
$body-font: "League Spartan", sans-serif;

// MARGIN SIZES
$space-sm: 0.5rem;
$space-md: 1rem;
$space-mdlg: 1.5rem;
$space-lg: 2rem;
$space-xlg: 4rem;
$space-xxlg: 6rem;
$space-xxxlg: 14rem;
$space-4xlg: 18rem;

// FONT WEIGHTS
$weight-xlight: 200;
$weight-light: 300;
$weight-regular: 400;
$weight-hover: 600;
$weight-bold: 700;

// COLORS
$main-dark-color: #05051f;
$main-light-color: #f5f1e2;
$accent-color-bright: #d96a16;
$accent-color-light: #7b9ea3;
$accent-color-medium: #5a868c;

// SMALL VIEW FONT SIZES
$intro-text-sm-v: 1.5rem;
$body-copy-sm-v: 1.25rem;
$footer-text: 1rem;
$h1-sm-v: 2.25rem;
$h2-sm-v: 1.5rem;
$h3-sm-v: 1.5rem;

// SMALL VIEW ICON SIZE
$moon-icons-sm: 74px;

// MEDIUM VIEW ICON SIZE
$moon-icons-md: 100px;

// LARGE VIEW FONT SIZES
$intro-text-lg-v: 2rem;
$body-copy-lg-v: 1.5rem;
$body-copy-aside: 1.34rem;
$footer-text-lg-v: 1.25rem;
$h1-lg-v: 3.5rem;
$h2-lg-v: 2rem;
$h3-lg-v: 1.75rem;

// LARGE VIEW ICON SIZE
$moon-icons-lg: 125px;

// SCSS MIXINS
@mixin grid($col...) {
  display: grid;
  grid-template-columns: $col;
}

@mixin aside-hover() {
  transition: all 0.15s ease-in;
  font-weight: $weight-hover;
  transform: scale(1.02);
}

@mixin h3-gradient() {
  background: linear-gradient(
    to left,
    $main-dark-color 0%,
    $accent-color-bright 100%
  );
  background-position: 0 100%;
  background-size: 100% 6px;
  background-repeat: no-repeat;
}

/* CSS VARIABLES **************/

:root {
  --h1: clamp(2.25rem, calc(1.82rem + 2.44vw), 3.5rem);
  --h2: clamp(1.5rem, calc(1.33rem + 0.98vw), 2rem);
  --h3: clamp(1.25rem, calc(1.08rem + 0.98vw), 1.75rem);
  --body-copy: clamp(1.25rem, calc(1.16rem + 0.49vw), 1.5rem);
  --summary: clamp(1.5rem, calc(1.33rem + 0.98vw), 2rem);
  --footer-text: clamp(1rem, calc(0.91rem + 0.49vw), 1.25rem);
  --aside-links: clamp(1.13rem, calc(1rem + 0.73vw), 1.5rem);
}

/* PARTIAL RESET **********************/
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* GENERAL STYLES ***********************/
html {
  position: relative;
}

body {
  background-color: $main-dark-color;
  font-family: $body-font;
  font-size: var(--body-copy);
}

.page-wrapper {
  margin: $space-xxlg 10% $space-xxxlg;
}

h1,
h2,
h3 {
  font-family: $heading-font;
  font-weight: $weight-bold;
  margin-bottom: $space-md;
  letter-spacing: 0.05rem;
  line-height: 1.15;
}

p,
ul {
  line-height: 1.5;
  margin-bottom: $space-mdlg;
}

p {
  color: $main-light-color;
  margin-bottom: $space-md;
  letter-spacing: 0.03rem;
}

/* SMALL VIEW: HEADER STYLES & LAYOUT **************** */

.intro {
  display: flex;
  flex-direction: column;

  & h1 {
    font-size: var(--h1);
    // color: $accent-color-bright;
    background: -webkit-linear-gradient(
      $accent-color-bright 5%,
      $accent-color-medium 85%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1;
  }

  & h2 {
    background: linear-gradient(
      to right,
      $accent-color-bright 0%,
      $main-dark-color 100%
    );
    background-position: 0 100%;
    background-size: 100% 9px;
    background-repeat: repeat-x;
    padding-bottom: $space-mdlg;
    font-size: var(--h2);
    color: $accent-color-medium;
    font-weight: $weight-light;
  }

  & h3 {
    @include h3-gradient();
    padding-bottom: $space-md;
    color: $accent-color-medium;
    font-size: var(--h3);
    margin-bottom: $space-mdlg;
  }
}

.summary {
  margin-bottom: $space-lg;

  & p {
    color: $accent-color-light;
    margin-bottom: $space-lg;
    font-size: var(--summary);
    font-weight: $weight-xlight;

    &:nth-child(2) {
      font-size: var(--body-copy);
      font-style: italic;
    }
  }

  /* INCLUDE MOON IMAGE *************/
  &::before {
    content: url("moon-sm.png");
    width: 161px;
    height: 161px;
    border-radius: 50%;
    background: $main-light-color;
    box-shadow: 0 0 125px rgba(245, 241, 226, 0.9);
    padding: $space-md;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: $space-xlg auto;
  }

  /*  LINK STATES: SUMMARY  ************/

  & p a:link,
  & p a:visited {
    color: $accent-color-bright;
    font-weight: $weight-regular;
  }

  & p a:hover {
    color: $main-light-color;
  }

  & p a:active {
    color: $accent-color-medium;
  }
}

.preamble p {
  font-weight: $weight-xlight;
  font-size: var(--body-copy);
}

/* SMALL VIEW: MAIN STYLES AND LAYOUT *************/

.main {
  margin: 0 auto $space-xlg auto;
  font-size: var(--body-copy);

  & h3 {
    font-size: var(--h3);
    margin-bottom: $space-mdlg;
    @include h3-gradient();
    padding-bottom: $space-md;
    color: $accent-color-medium;
  }

  /* MAIN: LINK STATES *************/

  & p {
    font-weight: $weight-xlight;

    & a:link,
    & a:visited {
      color: $accent-color-bright;
      font-weight: $weight-light;
    }

    & a:hover {
      color: $accent-color-light;
    }

    & a:active {
      color: $accent-color-medium;
    }
  }
}

/* ALL PARAGRAPH MARGINS EXCEPT SUMMARY ********/

.preamble,
.explanation,
.participation,
.benefits,
.requirements {
  margin: 0 0 $space-xlg;
}

/* FOOTER: SVG ICONS ******************/

.zen-validate-html::before {
  content: url("phases-of-the-moon-1.svg");
  display: block;
  width: $moon-icons-sm;
}

.zen-validate-css::before {
  content: url("phases-of-the-moon-2.svg");
  display: block;
  width: $moon-icons-sm;
}

.zen-license::before {
  content: url("phases-of-the-moon-3.svg");
  display: block;
  width: $moon-icons-sm;
}

.zen-accessibility::before {
  content: url("phases-of-the-moon-4.svg");
  display: block;
  width: $moon-icons-sm;
}

.zen-github::before {
  content: url("phases-of-the-moon-5.svg");
  display: block;
  width: $moon-icons-sm;
}

/* FOOTER: LAYOUT ********************/

footer {
  @include grid(19% 19% 19% 19% 19%);
  justify-items: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 0 4rem 0;
  font-size: var(--footer-text);

  /* FOOTER: LINK STATES ******************/

  & a:link,
  & a:visited {
    color: $accent-color-medium;
    font-family: $heading-font;
    font-weight: $weight-bold;
    font-size: var(--footer-text);
    text-align: center;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
  }

  & a:hover {
    color: $accent-color-bright;
    transform: scale(1.25);
    transition: all 0.25s ease-in-out;
  }

  & a:active {
    color: $main-light-color;
  }
}

/* SMALL VIEW: ASIDE STYELS AND LAYOUT *********/

ul {
  list-style: none;
}

a,
h2 abbr {
  text-decoration: none;
}

.sidebar {
  font-size: var(--aside-links);
  padding: 12px;
  background: linear-gradient(
    to left,
    $accent-color-medium 5%,
    $accent-color-light,
    $accent-color-medium 95%
  );
  border-radius: 10px;
  max-width: max-content;
  margin: 0 auto;
  border: 6px solid $accent-color-bright;

  & h3 {
    color: rgb(245, 241, 226);
    margin-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: var(--h3);
    @include h3-gradient();
    background-position: 0 100%;
    background-size: 100% 6px;
    background-repeat: repeat-x;
  }
}

/* ASIDE: LINK & VISITED ******************* */

.designer-name:link,
.designer-name:visited {
  color: $main-dark-color;
}

.design-name:link,
.design-name:visited {
  color: $main-light-color;
  margin: 12px 0 -2px;
  padding: 0;
  display: list-item;
  list-style-type: " ★ ";
}

.zen-resources a:link,
.zen-resources a:visited,
.design-archives a:link,
.design-archives a:visited {
  padding: 5px 0;
  color: $main-light-color;
  display: list-item;
  list-style-type: " ★ ";
}

/* ASIDE: HOVER ***********************  */

.designer-name:hover {
  @include aside-hover();
}

.design-name:hover {
  @include aside-hover();
}

.zen-resources a:hover,
.design-archives a:hover {
  @include aside-hover();
}

/* ASIDE: ACTIVE ********************* */

.designer-name:active {
  color: $main-light-color;
}

.design-name:active {
  color: $main-dark-color;
}

.zen-resources a:active,
.design-archives a:active {
  color: $main-dark-color;
}

.design-selection,
.design-archives,
.zen-resources {
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
  font-weight: $weight-regular;
}
.design-selection {
  padding-top: 50px;
}

.zen-resources {
  padding-bottom: 20px;
}

/* MEDIUM VIEW ***********************************/

@media only screen and (width >= 900px) {
  .page-wrapper {
    max-width: 80%;
    margin: $space-xxlg 10% $space-4xlg;
  }

  /* MEDIUM VIEW: FOOTER ICONS SIZE ********/

  .zen-validate-html::before,
  .zen-validate-css::before,
  .zen-license::before,
  .zen-accessibility::before,
  .zen-github::before {
    width: $moon-icons-md;
  }

  .intro h2 {
    width: 15rem;
  }

  /* MEDIUM VIEW HEADER / MOON *********************/

  .intro {
    position: relative;
  }

  .summary {
    margin-top: $space-xlg;
  }

  @keyframes moon-medium {
    0% {
      transform: translate(110%, -150%);
    }

    100% {
      transform: translate(110%, -90%);
    }
  }

  .summary::before {
    content: url("moon-med.png");
    width: 380px;
    height: 380px;
    position: absolute;
    transform: translate(110%, -90%);
    animation-duration: 3s;
    animation-name: moon-medium;
  }

  header,
  .summary p:first-of-type {
    width: 400px;
  }
}

/* LARGE VIEW *******************/

@media only screen and (width >= 1150px) {
  html {
    width: 85%;
    margin: 0 auto;
  }

  /* LARGE VIEW: FOOTER ICONS SIZE************/

  .zen-validate-html::before,
  .zen-validate-css::before,
  .zen-license::before,
  .zen-accessibility::before,
  .zen-github::before {
    width: $moon-icons-lg;
  }

  /* LARGE VIEW: PAGE LAYOUT ************************/

  .page-wrapper {
    max-width: 70ch;
    margin: $space-xxlg auto $space-xxxlg;
    @include grid(auto 1fr);
    grid-template-rows: auto auto auto auto;
  }

  .intro {
    grid-column: 1/-1;
  }

  .main {
    grid-column: 2/-1;
    grid-row: 2/4;
  }

  .sidebar {
    transform: translateX(-4rem);
    min-width: max-content;
    grid-column: 1/2;
    grid-row: 2/3;
  }

  footer {
    grid-template-columns: repeat(5, 20%);
  }

  /* LARGE VIEW ASIDE ADJUSTMENTS ********/

  .design-selection,
  .design-archives,
  .zen-resources {
    padding-left: 25px;
    padding-right: 25px;
    text-align: left;
  }
  /* LARGE VIEW HEADER / MOON ************* */

  @keyframes moon-large {
    0% {
      transform: translate(79%, -150%);
    }

    100% {
      transform: translate(79%, -63%);
    }
  }

  .summary::before {
    content: url("moon-lg.png");
    width: 580px;
    height: 580px;
    box-shadow: 0 0 150px rgba(245, 241, 226, 0.9);
    transform: translate(79%, -63%);
    animation-duration: 3s;
    animation-name: moon-large;
  }

  /* LARGE VIEW: INTRO ADJUSTMENT *********/

  header,
  .summary p:first-of-type {
    width: 400px;
  }
}
