* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: Avenir, Arial, sans-serif;
    color: #5E3D20;
    margin: 100px;
}

h1 {
    font-size: 2rem;  
    color: floralwhite;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
    border-bottom: 4px solid #2F4F2A;
    background-color: gainsboro;
    padding-top: 10px;
    padding-bottom: 4px;
    margin-bottom: 8px;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 720px;
}

header, footer, footer a {
    text-align: center;
    background-color: #2F4F2A;
    color: floralwhite;
}

header img {
    width: 180px;
    height: auto;
    float: right;
}

footer {
    font-size: 12px;
}